<section id="about">
    <div class="about-photo">
        <img src="../img/about-photo.jpg" alt="About Tim Griffith Photo">
    </div>
    <article>
        <p>
            I am passionate about all things web development and strive to learn all I can, all the time.
            I dive into projects head first no matter how daunting the challenge and always take away new
            insights in the beautiful world of web design and development. I am always looking for new 
            projects to dive into. If you are looking for a developer to join your team or a freelance
            developer to help with your site, send me a message with the form below.
        </p>
    </article>
</section>
