<nav>
    <div>
        <p>
            <a href="#home">Tim Griffith</a>
        </p>
        <a href="#" id="menu-icon"><i class="fa fa-bars" aria-hidden="true"></i></a>
        <ul>
            <a href="#portfolio">
                <li>Portfolio</li>
            </a>
            <a href="#about">
                <li>About</li>
            </a>
            <a href="#contact">
                <li>Contact</li>
            </a>
            <a href="../Tim-Resume.pdf">
                <li>Resume</li>
            </a>
        </ul>
    </div>
</nav>
