<section id="portfolio">
    <div class="row">
      <div class="info">
        <h2>Project Name</h2>
        <hr>
        <h3>Vision</h3>
        <p>description</p>
        <h3>Goal</h3>
        <p>description</p>
        <h3>Success</h3>
        <p>description</p>
      </div>
      <div class="photo" style="background: url(../img/portfolio/nine10.jpg) no-repeat center;">
        <!-- <img src="../img/portfolio/nine10.jpg" alt="Nine10 Photo">       -->
      </div>
      <div class="big-description">
        <p>Area for testimonial, learning abjectives, or to detail more about the outcome of the project.
      </div>
    </div>
    <div class="row">
      <div class="photo" style="background: url(../img/portfolio/nine10.jpg)">
        </div>
      <div class="info">
        <h2>Project Name</h2>
        <hr>
        <h3>Vision</h3>
        <p>description</p>
        <h3>Goal</h3>
        <p>description</p>
        <h3>Success</h3>
        <p>description</p>
      </div>
      <div class="big-description">
        <p>Area for testimonial, learning abjectives, or to detail more about the outcome of the project.
      </div>
    </div>
</section>
