<section id="skills">
    <h1>Skills</h1>
    <div class="content">
        <div class="skill-attr">
            <h4><i class="fa fa-4x fa-html5"></i></h4>
            <p>Expert Knowledge of HTML and New Features of HTML5</p>
        </div>
        <div class="skill-attr">
            <h4><i class="fa fa-4x fa-css3"></i></h4>
            <p>Profiicient in CSS2 for legacy projects, and CSS3's newest features for cutting edge projects</p>
        </div>
        <div class="skill-attr">
            <h4><i class="fa fa-4x fa-desktop"></i></h4>
            <p>Knowledgable in everything from Vanilla JS and jQuery, to Node.js, Express.js and Angular</p>
        </div>
        <div class="skill-attr">
            <h4><i class="fa fa-4x fa-mobile"></i></h4>
            <p>Expert in Mobile First design and optimization for web.</p>
        </div>
    </div>
</section>
