<section id="skills">
  <div>
    <h2>Skills</h2>
    <div class="skill-attr">
      <h4>HTML5</h4>
      <p>DEtails on skill with html5</p>
    </div>
    <div class="skill-attr">
      <h4>CSS#</h4>
      <p>DEtails on skill with css3</p>
    </div>
    <div class="skill-attr">
      <h4>JavaScript</h4>
      <p>DEtails on skill with javascript</p>
    </div>
    <div class="skill-attr">
      <h4>responsive web design</h4>
      <p>DEtails on skill with rwd</p>
    </div>
  </div>
</section>
