<section id="skills">
  <h2>Skills</h2>
    <div class="content">
      <div class="skill-attr">
        <h4>HTML5</h4>
        <p>Expert Knowledge of HTML and New Features of HTML5</p>
      </div>
      <div class="skill-attr">
        <h4>CSS3</h4>
        <p>Profiicient in CSS2 for legacy projects, and CSS3's newest features for cutting edge projects</p>
      </div>
      <div class="skill-attr">
        <h4>JavaScript</h4>
        <p>Knowledgable in everything from Vanilla JS and jQuery, to Node.js, Express.js and Angular</p>
      </div>
      <div class="skill-attr">
        <h4>Responsive Design</h4>
        <p>Expert in Mobile First design and optimization for web.</p>
      </div>
    </div>
</section>
