/**
 * Reset some basic elements
 */
html {
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
}

*,
*:after,
*:before {
    -webkit-box-sizing: inherit;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: inherit;
    /* Firefox, other Gecko */
    box-sizing: inherit;
    /* Opera/IE 8+ */
}

blockquote,
body,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
ol,
p,
pre,
ul {
    margin: 0;
    padding: 0;
}
//HTML5 tag fallback declaration.

article,
aside,
figcaption,
figure,
footer,
header,
nav,
section {
    display: block;
    position: static;
}
/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}

img {
    max-width: 100%;
    vertical-align: middle;
}
/*navbar styles */
nav {
    width: 100%;
    height: 100px;
    padding: 30px;
    background-color: transparent;
    color: #C9C9C9;
    font-size: 24px;

    p {
        float: left;
    }

    ul {
        list-style: none;
        display: inline;
        float: left;
        margin-left: 25px;
        font-size: 18px;
        padding-top: 2px;
    }

    li {
        display: inline-block;
        float: left;
        height: 25px;
        width: 100px;
        text-align: center;
    }

    #resume-link {
        float: right;
        margin-right: 25px;
    }

    li a {
        display: block;
        width: 100px;
        height: 100%;
        text-decoration: none;
        border: 0 1px 0 1px solid #000;
    }

    a:link,
    a:visited {
        color: #C9C9C9;
    }

    a:hover {
        text-decoration: none;
        background-color: #1E323F;
        color: #767C81;
    }

    li:hover {
        background-color: #1E323F;
    }

    #menu-icon {
        display: none;
        float: right;
        width: 40px;
        height: 40px;
    }

    a:hover#menu-icon {
        background-color: #1E323F;
    }
    @media only screen and (max-width: 640px) {
        #menu-icon {
            display: inline-block;
        }

        :active ul,
        ul {
            display: none;
            position: absolute;
            padding: 20px;
            background: #fff;
            border: 2px solid #767C81;
            right: 15px;
            top: 50px;
            width: 20%;
        }

        li {
            text-align: left;
            width: 100%;
            padding: 10px 5px;
            margin: 0;
        }

        :hover ul {
            display: block;
        }
    }
}
/* Header Styles */
header {
    display: table;
    color: white;
    width: 100%;
    height: 800px;

    .video-container {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        top: 0;
        overflow: hidden;

        video {
            position: absolute;
            width: 100%;
            left: 0;
        }
    }

    .title {
        display: table-cell;
        color: #f0f0f0;
        vertical-align: middle;
    }
}
/* Skills Section Styles */
#skills {
    display: inline-block;
    width: 100%;
    text-align: center;
    background-color: #efefef;
    margin: 0;
    padding: 50px 0;

    .content {
        width: 100%;
        // margin: auto;
    }

    .skill-attr {
      display: inline-block;
        width: 100%;
        padding: 25px 25px;
        text-align: left;
        h4 {
            width: 30%;
            float: left;
            font-weight: bold;
            text-align: center;
        }

        p{
          width: 70%;
          float: left;

        }

    }
}
/***

 Portfolio section

 **/
.row {
    width: 100%;
    display: block;

    h2,
    h3,
    h4 {
        font-weight: bold;
        margin: 0;
    }

    .info {
        display: block;
        width: 100%;
        background-color: $themePrimary;
        color: $themeSecondary;
        //  padding: 20px;
        h2:first-child {
            padding-top: 25px;
        }

        h2,
        h3 {
            padding: 15px 25px;
        }

        p {
            padding: 0 25px;
        }

        p:last-child {
            padding-bottom: 25px;
        }
    }

    .photo {
        display: block;
        width: 100%;
        height: 600px;
        background-position: left;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        text-align: center;
        vertical-align: middle;
        text-decoration: none;

        h1 {
            font-size: 3em;
            color: $themeComplement;
            opacity: 0;
        }
    }

    a:hover {
        overflow: hidden;
        opacity: 0.5;

        div {
            //background: transparentize($themeSecondary, .25);
            width: 100%;
            height: 100%;
            display: inline-block;
        }

        h1 {
            //opacity: 1;
        }
    }
}

.big-description {
    clear: both;
    width: 100%;
    display: table;
    overflow: hidden;
    min-height: 300px;
    text-align: center;
    background-color: #f9f9f9;

    p {
        display: table-cell;
        vertical-align: middle;
    }
}
/**

contact section

**/
#contact {
    width: 100%;
    text-align: center;
    padding: $section-margins;
    background-color: #fff;

    h2{
      padding-bottom: 25px;
    }

    form {
        width: 80%;
        margin: auto;

        label, textarea {
          display: block;
          width: 100%;
          margin-bottom: 10px;
        }

        label input, textarea {
          font-size: 1em;
          padding: 5px
        }

        label {
            input {
                width: 100%;
                border: none;
                border-top: 1px solid;
                border-bottom: 1px solid;
                border-color: $border-grey;
                //line-height: 2.5em;
            }
        }

        textarea {
            border: none;
            border-top: 1px solid;
            border-bottom: 1px solid;
            border-color: $border-grey;
            height: 5em;

        }

        button {
            display: block;
            margin: auto;
        }
    }
}
/**
 * About
 **/
#about {
    background: $themeSecondary;
    max-height: 600px;
    color: $themePrimary;

    .about-photo {
        width: 100%;
        text-align: center;

        img {
            width: 35%;
            padding: 25px 0;
            border-radius: 200px;
        }
    }

    article {
        width: 100%;

        p {
            width: 80%;
            margin: auto;
            padding-bottom: 50px;
        }
    }
}

footer {
  display: inline-block;
  width: 100%;
  background: $themePrimary;
  color: $themeSecondary;
  text-align: center;

  .copy, .social-links {
    width: 100%;
    padding: 25px;
  }

  .social-links a {
    padding: 0 25px;
    color: $themeSecondary;
  }
  .social-links a:visited{
    color: $themeSecondary;
  }
  .social-links a:hover {
    i {
      border-radius: 50%;
      color: $themePrimary;
      background: $themeSecondary;
    }
  }
}
/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}
/**
 * Lists
 */
ol,
ul {
    margin-left: $spacing-unit;
}

li {
     > ul,
    > ol {
        margin-bottom: 0;
    }
}
/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: $base-font-weight;
}
/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}
/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}
/**
 * Code formatting
 */
code,
pre {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}
/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;
    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width: calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}
/**
 * Clearfix
 */
%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
/**
 * Icons
 */
.icon {
    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}
/* Utilities*/
.text-center {
    text-align: center;
}
/**************************
 Responsive design section
 **************************/
header {
    @media only screen and (min-width: 1366px) {
        height: 650px;

        .title {
            h1 {
                font-size: 4em;
            }

            p {
                font-size: 2em;
            }
        }
    }
    @media only screen and (min-width: 980px) and (max-width: 1365px) {
        height: 450px;

        .title {
            h1 {
                font-size: 3em;
            }

            p {
                font-size: 1.5em;
            }
        }
    }
    @media only screen and (min-width: 768px) and (max-width: 979px) {
        height: 330px;

        .title {
            h1 {
                font-size: 2.5em;
            }

            p {
                font-size: 1.25em;
            }
        }
    }
    @media screen and (min-width: 540px) and (max-width: 767px) {
        height: 200px;
    }
    @media screen and (min-width: 320px) and (max-width: 539px) {
        height: 70px;
    }
}

#skills {
    @media only screen and (min-width: 1366px) {
        .content {
            width: 80%;
            margin: auto;
        }

        .skill-attr {
            width: 25%;
            float: left;
            text-align: center;

            h4{
              width: 100%;
              float: none;
            }
            p{
              width:100%;
              float:none;
            }
        }
    }
    @media only screen and (min-width: 980px) and (max-width: 1365px) {
        .content {
            width: 80%;
            margin: auto;
        }

        .skill-attr {
            width: 25%;
            float: left;
            padding-left: 25px;
            padding-right: 25px;
            text-align: center;

            h4{
              width: 100%;
              float: none;
            }
            p{
              width:100%;
              float:none;
            }
        }
    }
    @media only screen and (min-width: 768px) and (max-width: 979px) {
        .content {
            width: 100%;

        }

        .skill-attr {
            width: 25%;
            float: left;
            padding-left: 25px;
            padding-right: 25px;
            text-align: center;

            h4{
              width: 100%;
              float: none;
            }
            p{
              width:100%;
              float:none;
            }
        }
    }
    @media screen and (min-width: 540px) and (max-width: 767px) {}
    @media screen and (min-width: 320px) and (max-width: 539px) {}
}
/* portfolio */
@media only screen and (min-width: 1366px) {
    .row {
        .info {}

        .photo {}
    }

    .big-description {}
}
@media only screen and (min-width: 980px) {
    .row {
        display: table;

        .info {
            display: table-cell;
            width: 40%;

            h2:first-child {
                padding-top: 50px;
            }

            h2,
            h3 {
                padding: 25px 50px;
            }

            p {
                padding: 0 50px;
            }

            p:last-child {
                padding-bottom: 50px;
            }
        }

        .photo {
            display: table-cell;
            width: 60%;
            height: auto;
        }
    }

    .big-description {}
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
    .row {
        .info {}

        .photo {}
    }

    .big-description {}
}
@media screen and (min-width: 540px) and (max-width: 767px) {
    .row {
        .info {}

        .photo {}
    }

    .big-description {}
}
@media screen and (min-width: 320px) and (max-width: 539px) {
    .row {
        .info {}

        .photo {}
    }

    .big-description {}
}

.hide-sm {
    @media screen and (max-width: 979px) {
        display: none !important;
    }
}

.hide-lg {
    @media screen and (min-width:980px) {
        display: none !important;
    }
}
/* Contact */
#contact {
    @media only screen and (min-width: 1366px) {}
    @media only screen and (min-width: 980px) and (max-width: 1365px) {}
    @media only screen and (min-width: 768px) and (max-width: 979px) {}
    @media screen and (min-width: 540px) {
      form {
        width: 60%;
        label input, textarea {
          font-size: 1.5em;
        }
      }
    }
    @media screen and (min-width: 320px) and (max-width: 539px) {}
}

#about {
    @media only screen and (min-width: 940px) {
        .about-photo {
            img {
                width: 15%;
                padding: 50px 0;
            }
        }

        article {
            p {
                width: 60%;
            }
        }
    }
}

footer{
  @media only screen and (min-width: 540px) {
    .copy, .social-links {
      width: 50%;
      float: left;
      padding: 100px 50px;
    }
  }
}
