html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html, body {
  max-width: 100%
}

body{
  color: #eee;
}

a:hover {
	text-decoration: none;
}
a{
	text-transform: uppercase;
}
p{
	 font-family: "Roboto", sans-serif;
 }

/* header style */

#home{
	/*background-image: url("../images/header.jpg");
  background-position: center;
  background-size: contain;
	background-repeat: no-repeat;*/
}
.nav-1 {
  height: 75px;
  background: #fff;
}
.nav-1 img{
  float:left;
  padding: 17px 0 0 39px;
}
.nav-1 p{
  /*width: 30%;*/
  float: right;
  text-align: right;
	padding-top:30px;
	vertical-align: bottom;
	color: #14171f;
}
.nav-1 p span{
	font-size: 2em;
	color: #cbbb98;
}
#menu-icon {

	display: none;
	width: 40px;
	height: 40px;
}

a:hover#menu-icon {

	background-color: #444;
	border-radius: 4px 4px 0 0;

}
.nav-2 {
	background: #000;
	border-bottom: 1px solid #eee;
}
.nav-2 ul {
  list-style: none;
	/*padding: 10px 0 25px 40px;*/
  font-size: 14px;
  text-transform: uppercase;
	color: #fff;
	/*text-align: justify;*/
}
.nav-2 ul li{
	display: inline-block;
  float: left;
	padding: 25px 0 25px 0;
	width: 14%;
	font-size: 12px;
}
.nav-2 ul li a {
	color: #fff;
	white-space: nowrap;
}
.nav-2 ul li a:first-child{
	padding-left: 40px;
}
.nav-2 ul #drop-down{
	position:relative;
}
.nav-2 ul #drop-down #hidden-menu{
	display: none;
	list-style: none;
	text-align: left;
	position: absolute;
	margin-top: 25px;
}
.nav-2 ul #drop-down #hidden-menu li{
	padding: 15px 10px;
	background: #fff;
	color: #14171f;
	float: none;
	min-width: 100%;
	margin-left: 55px;
	border-bottom: 1px solid #eee;
}
.nav-2 ul #drop-down:hover{
	cursor: pointer;
	cursor: hand;
}
.nav-2 ul #drop-down:hover #hidden-menu{
	display: block;
}
.nav-2 ul #drop-down #hidden-menu li:hover{
	background: #cbbb98;
	color: #fff;
}
#header {
  display: table;
  height: 600px;
  /*width: 120%;*/
	/*background-image: url("../images/header.jpg");
  background-position: center;
  background-size: contain;
	background-repeat: no-repeat;*/
}
#header .header-content {
  /*display:table-cell;*/

  /*width: 50%;*/
    padding: 8% 5% 0 50%;
}
#header .header-content h1{
	font-size: 5em;
}
#header .header-content h1 span{
	color: #cbbb98;
	font-weight: 500;
}
#header img {
  width: 100%;
  position:absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
#header .header-content .header-btn{
	background: linear-gradient(180deg, #cbbb98, #ad915b);
	margin-top: 40px;
	font-size: 1.5em;
}
#header .header-content .header-btn:hover{
	background: #fff;
	color: #ad915b;
}

/* Selling Points */
#selling-points{
	background-image: url(../images/selling-background.png);
	padding-top: 125px;
	z-index: 1;
}

#selling-points .selling-points-inner{
	border-top: 2px solid #cbbb98;
	border-bottom: 2px solid #cbbb98;
	margin: 0 150px 150px 150px;
	padding-bottom: 55px;
}
#selling-points .selling-points-inner img{
	margin: 65px 0 0 10px;
}
#selling-points .selling-points-inner div{
	padding: 50px;
}

#selling-points .selling-points-inner h2{
	font-size: 2em;
	color: #cbbb98;
	margin-bottom: 20px;
}
#selling-points .selling-points-inner p{
	font-size: 18px;
	line-height: 1.75em;
	padding: 10px;
}

/* about section */

#about{
	color: #14171f;
	background: #fff;
}
#about .row{
	padding: 130px 0 130px 30px;
}
#about h1{
	font-size: 5em;
	width: 75%;
	border-bottom: 5px solid #cbbb98;
	padding-bottom: 30px;
}
#about h2 {
	font-size: 1.75em;
	padding: 25px 0 25px 5px;
	border-bottom: 1px solid #cbbb98;
}
#about h3{
	font-size: 2.25em;
  line-height: 1.25em;
  margin: 48px 0 25px 0;
  padding: 2px 0 2px 25px;
	border-left: 3px solid #cbbb98;
}
#about h4{
	font-size: 1.5em;
	font-weight: bold;
	padding-top: 50px;
}
#about .col-md-6{
	padding-left: 7px;
	padding-top: 55px;
}
#about p{
	font-size: 18px;
	line-height: 1.75em;
	padding-top: 15px;
}
#about p:first-child{
	padding-top:0;
}

.vertical-line{
	width: 1px;
	height: 200px;
	background-color: #cbbb98;
	margin: -100px auto 0 auto;
}

/* Practices section */

#practice {
	background-color: #fff;
	background-image: url(../images/practice-background.jpg);
	background-position: bottom;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	padding-bottom: 420px;
}
#practice .container{
	padding: 0;
}
#practice h1 {
	font-size: 5em;
	color: #fff;
	margin-bottom: 85px;
}
#practice .practice-item{
	padding: 0;
	/*max-height: 208px;*/
}
#practice .practice-item .practice-item-inner{
	padding: 100px 0px ;
	background: #151520;
	margin:15px;
}
#practice .practice-item .practice-item-inner:hover{
	background-image: radial-gradient(circle, #cbbb98, #ad915b)
}
#practice .practice-item .practice-item-inner img{
	height: 80px;
	/*padding: 20px 0;*/
}
#practice .practice-item .practice-item-inner p{
	margin-top: 20px;
	font-size:22px;

	/*width: 100%;*/
}

/* Lorem Section */

#lorem {
	/*background: #fff;*/
	margin-top: -140px;
	text-align: center;
	color: #14171f;
	padding-bottom: 150px;
}
#lorem h1 {
	color: #cbbb98;
  font-size: 3em;
  border-top: 3px solid #cbbb98;
  border-bottom: 3px solid #cbbb98;
  width: 80%;
  margin: auto;
	margin-bottom: 100px;
  padding: 50px 0 50px 100px;
  text-align: right;
	text-transform: uppercase;
}
#lorem h4 {
	font-size: 1.5em;
	font-weight: bold;
}
#lorem p{
	width: 60%;
  margin: auto;
  padding: 30px;
  line-height: 2em;
}

/* Contact Section */
#contact{
	background: #13131e;
	text-align: center;
}
#contact .container {
	margin-bottom: 175px;
}
#contact h1 {
	font-size: 5em;
	text-align: center;
	margin-top:100px;
	margin-bottom: 20px;
	text-transform: uppercase;
}
#contact h4{
	text-transform: lowercase;
	color: #cbbb98;
	text-align: center;
	margin-bottom: 30px;
}
#contact .form{
	padding: 15px;
}
#contact input {
	width: 33%;
	float: left;
	padding: 20px 15px;
	margin: 0 .33% 20px 0;
}
#contact input:after {
	content:" *";
}
#contact textarea {
	width: 100%;
	height: 185px;
	padding: 20px 15px;
}
#contact a {
	margin-top: 10px;
	padding: 20px 55px;
	font-size: 18px;
	background: linear-gradient(180deg, #cbbb98, #ad915b);
}
#contact a:hover{
	background: #14171f;
	color: #ad915b;
	border: 1px solid #ad915b;
	border-radius: 5px;
}

/* Footer */
footer{
	color: #14171f;

}
#map {
	background-image: url(../images/map-background.jpg);
	background-size: cover;
	background-position: bottom;
	width: 100%;
	height: 700px;
	font-size: 22px;
}
#map .address{
	float: right;
	text-align: center;
	margin: 150px 200px 0px 0;
}
#map .address .address-inner{
	padding: 30px 30px 50px 30px;
	border-top: 4px solid #cbbb98;
	background: #fff;
}
#map .address .address-inner div{
	padding:0
}
#map .address h4{
	color: #cbbb98;
	font-size: 1em;
	margin: 20px 0;
}
#map .address .address-inner p{
	width: 60%;
	margin: auto;
}
#map .address .address-inner p:last-child{
	/*margin-bottom: 30px;*/
}
#map .address .get-directions{
	padding: 20px 55px;
	font-size: 18px;
	color: #fff;
	background: linear-gradient(180deg, #cbbb98, #ad915b);
	margin-top: -30px;
}
#map .address .get-directions:hover{
	background: #14171f;
	color: #fff;
	text-decoration: none;
}
footer .social{
	padding: 10px 50px;
	background-image: url(../images/social.png)
	background-size: cover;
}
footer img {
	float:right;
	padding: 20px 10px;
}
footer .copy {
	float: left;
	padding: 20px 10px;
}

@media screen and (max-width: 1500px){
	#header .header-content h1 {
	    font-size: 4em;
	}
	#selling-points{
		margin-top: -300px;
	}

}
